$color-purple: #220566;
$color-pink: #b23cbf;
$color-gray: #9ca3af;
$color-black: #1f2937;

.mobile {
  width: 100vw;
  h1{
      text-align:left;
      font-size: 0.9rem;
      color:#4d4d4d;
      font-weight: 400;
      margin-top:1rem;
      margin-left: 1rem;
      padding: 0;
  }
}
