$color-purple: #220566;
$color-pink: #b23cbf;
$color-gray: #9ca3af;
$color-black: #1f2937;
$card-size: 23rem;

.mobile {
  width: 100vw;
  height: 200vh;
  h1{
      text-align: center;
      font-size: 1.5rem;
      color:#5d5d5d;
      font-weight: 300;
  }
}
