$color-purple: #490070;

.rankitem {
  display: flex;
  align-items: center;
  border-top: 1px solid #c7c7c7;
  height: 13rem;
  padding-left: 3%;
  p {
    margin-top: 0;
    margin-bottom: 3px;
  }
  .acc {
    color: rgb(158, 158, 158);
  }
}

.poster {
  display: flex;
  width: 20%;
  height: 10.5rem;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.rank-desc {
  display: flex;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
  }
}

.sales {
  margin-top: 0.5rem;
  display: flex;
  .sales-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: $color-purple;
    font-size: 0.65rem;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
    margin-top: 1px;
  }
  span {
    line-height: 1rem;
    font-size: 12px;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    color: $color-purple;
  }
}

.audience {
  display: flex;
  margin-top: 0.5rem;
  .audience-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: $color-purple;
    font-size: 0.65rem;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
  }
  span {
    line-height: 1rem;
    font-size: 12px;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    color: $color-purple;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 60%;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  .number {
    width: 1rem;
    height: 1rem;
    color: white;
    line-height: 0.9rem;
    background-color: #260049;
    font-size: 10px;
    border-radius: 4px;
    text-align: center;
  }

  .change {
    color: #757575;
    font-size: 10px;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.3rem;
    height: 1.3rem;
    .change-icon {
      position: relative;
      top: 1px;
      font-size: 15px;
      color: #ff5454;
      .new {
        font-size: 10px;
        font-weight: 700;
        color: orange;
      }
    }
  }
}

.title {
  display: flex;
  font-size: 12px;
  color: #757575;
  margin-left: 0.3rem;
  .eng-title{
    margin-top:0.23rem;
  }
}
