.rankitem {
  display: flex;
  align-items: center;
  border-top: 1px solid #c7c7c7;
  height: 13rem;
  padding-left:5%;
  padding-right: 5%;
  p {
    margin-top: 0;
    margin-bottom: 3px;
  }
}

.poster {
  display: flex;
  width:20%;
  height:10.5rem;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.rank-desc {
  display: flex;
  div {
    display: flex;
    flex-direction: column;
  }
}

.sales {
  margin-top: 0.5rem;
  display: flex;
  .sales-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: #5076db;
    font-size: 0.65rem;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
    margin-top: 1px;
  }
  span {
    line-height: 1rem;
    font-size: 12px;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    color: #0c2763;
  }
}

.audience {
  display: flex;
  margin-top: 0.5rem;
  .audience-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: #5076db;
    font-size: 0.65rem;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
  }
  span {
    line-height: 1rem;
    font-size: 12px;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    color: #0c2763;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  margin-left:1rem;
  width:60%;
}

.rank {
  text-align: center;
  line-height: 0.9rem;
  .number {
    width: 1rem;
    height: 1rem;
    color: white;
    background-color: #0c2763;
    font-size: 10px;
    border-radius: 4px;
  }
  .change {
    color: #757575;
    font-size: 10px;
    margin-top: 0.2rem;
  }
}

.title {
  font-size: 12px;
  color: #757575;
  margin-left: 0.4rem;
  line-height: 1rem;
  span {
    margin-bottom: 0.2rem;
  }
}
