$color-gray: #8a8a8a;

.selected-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  h3 {
    font-size: 18px;
    font-weight: 500;
    color: $color-gray;
    margin: 0;
  }
  .arrow-icon {
    font-size: 13px;
    color: $color-gray;
    cursor: pointer;
  }
}
